<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  [routerLink]="['/']"> <img src="/assets/5.png" alt="" width="90" height="90">  Dictamenes TESE  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
  </button>


  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item active" *ngIf="user$ | async as user">
        <a class="nav-link" routerLink="/upload-image">Upload</a>
      </li>
    </ul>
    <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
      <li class="nav-item" *ngIf="user">
        <a href="#" class="nav-link" (click)="onLogout()">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> {{ user?.email }}</a>
      </li>
    </ul>
    <ng-template #login>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" > Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ul>
    </ng-template>
    <a class="navbar-brand" [routerLink]="['/']"> <img src="/assets/3.png" alt="" width="90" height="90">Estado De Mexico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">

    </button>


  </div>
</nav>
